.eighth-slide {
  padding-top: 37px;
  padding-bottom: 65px;

  .container {
    position: relative;
    z-index: 1;
  }

  .h2 {
    color: #ffffff;
    margin-bottom: 35px;
  }
}

@media (max-width: 767.98px) {
  .eighth-slide h3 {
    margin-bottom: 20px !important;
  }

  .eighth-slide {
    padding-bottom: 26px;
  }
}

@media (min-width: 361px) and (max-width: 382px) {
  .eighth-slide .row {
    & > div:nth-child(odd) {
      padding-right: 8px;
    }

    & > div:nth-child(even) {
      padding-left: 8px;
    }
  }
}