.fifth-slide {
  padding-bottom: 30px;

  .container {
    background: linear-gradient(226.16deg, #FDBF00 4.37%, #FFE165 98.28%);
    padding-top: 55px;
    padding-bottom: 74px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  &.orange-container {
    background: initial;
  }

  .block__form {
    margin-top: 25px;
  }
}

@media (max-width: 991.98px) {
  .fifth-slide {
    .container {
      padding-top: 35px;
      padding-bottom: 45px;
    }

    .orange-container__desc-pl {
      padding-left: 0;
    }

    .orange-container__title {
      font-size: 24px;
      line-height: 36px;
    }

    .orange-container__text {
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
    }

    .block__form {
      margin-top: 180px;
      margin-right: auto;
      max-width: 297px;

      .block__form-btn {
        max-width: 100%;
        margin-top: 11px !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .fifth-slide.orange-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}