.first-slide {
  background: linear-gradient(244.57deg, $color-fifth 4.37%, $color-second 98.28%);
  padding-top: 42px;
  padding-bottom: 161px;
  position: relative;
  margin-top: 74px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/first-slide__bg1.svg") no-repeat top;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/first-slide__bg2.svg") no-repeat top;
    background-size: cover;
    width: 100%;
    height: 295px;
  }
}

.first-slide__bg {
  max-width: 1036px;
  position: absolute;
  bottom: -220px;
  left: -80px;
  z-index: 1;
}

.first-slide__slogan {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 46px;
  line-height: 68px;
  text-transform: uppercase;
  color: #292F33;
  position: relative;
  z-index: 1;

  .first-slide__slogan-color {
    color: $color-third;
  }
}

.first-slide__block {
  border-radius: 10px;
  margin-top: 90px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  footer {
    background: $color-fifth;
    padding: 17px 35px;

    p {
      margin-bottom: 0;
    }

    a {
      color: #292F33;
      text-decoration: underline;
    }
  }
}

.first-slide__block-wrapper {
  padding: 34px 30px;
  background: #EDC53A;
  opacity: 0.9;
  position: relative;
  overflow: hidden;
}

.first-slide__block-text {
  font-size: 21px;
  line-height: 31px;
  color: #292F33;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 27px;
}

.first-slide__block-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #292F33;
}

.first-slide__block-title-color {
  color: $color-third;
}

.first-slide__input {
  padding-left: 57px;
  background-image: url(../img/input-icon-phone.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: 27px 15px;
}

.first-slide__btn {
  width: 100%;
  margin-top: 13px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.first-slide__bg-mobil {
  display: none;
}

@media (max-width: 1199.98px) {
  .first-slide__bg {
    max-width: 930px;
  }

  .first-slide__slogan {
    font-size: 39px;
  }
}

@media (max-width: 991.98px) {
  .first-slide {
    padding-bottom: 0;
  }

  .first-slide__bg {
    display: none;
  }

  .first-slide__bg-mobil {
    display: block;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .first-slide__block {
    margin-top: -40px;
  }

  .first-slide__block-wrapper {
    background: #FFE165;

    input, button {
      max-width: 297px;
      margin-left: auto;
      margin-right: auto;
      height: 40px;
    }

    button {
      font-size: 14px;
    }

    input {
      background-position: 20px 10px;
      padding-left: 50px;
    }
  }

  .first-slide__block-text {
    max-width: 252px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 10px;
  }

  .first-slide__block-text,
  .first-slide__block footer p {
    text-align: center;
  }

  .first-slide__block footer p {
    font-size: 12px;
  }

  .first-slide__slogan {
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    display: block;
  }

  .first-slide__block-title {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .first-slide {
    margin-top: 54px;

    .main-header__bottom-block {
      padding-left: 0;
      padding-right: 0;
    }

    .first-slide__block {
      border-radius: 0;
    }
    
    .first-slide__slogan {
      text-align: left;
    }
  }
}

@media (max-width: 361px) {
 .first-slide {
   margin-top: 48px;
 }
}