.footer {
  background: #292F33;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 26px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.footer__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer__text {
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__link {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: block;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link-viber {
  background: url("../img/logo-social-viber.svg") no-repeat center;
  background-size: 100% auto;
}

.footer__link-wp {
  background: url("../img/logo-social-wp.svg") no-repeat center;
  background-size: 100% auto;
}

.footer__link-tg {
  background: url("../img/logo-social-tg.svg") no-repeat center;
  background-size: 100% auto;
}

.footer__link-youtube {
  background: url("../img/logo-social-youtube.svg") no-repeat center;
  background-size: 100% auto;
}

.footer__link-vk {
  background: url("../img/logo-social-vk.svg") no-repeat center;
  background-size: 100% auto;
}

.footer-logo {
  margin-bottom: 15px;
  background: url("../img/footer-img-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 207px;
  height: 66px;
}

.footer__right-icon {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -40px;
    top: -1px;
    background: red;
  }
}

.footer-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: -15px;

  .footer__text {
    max-width: 214px;
  }
}

.footer-icon {
  display: block;
}

.footer-marker {
  min-width: 29px;
  width: 29px;
  height: 27px;
  background: url(../img/placeholder-filled-point.svg) no-repeat center;
  background-size: 100% auto;
}

.footer-mail {
  min-width: 22px;
  width: 22px;
  height: 22px;
  background: url(../img/black-back-closed-envelope-shape1.svg) no-repeat center;
  background-size: 100% auto;
}

.footer-share {
  min-width: 25px;
  width: 25px;
  height: 25px;
  background: url("../img/share-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.footer-container {
  display: flex;
}

.footer-email-container {
  flex-direction: column;
  display: flex;
}

@media (max-width: 1199.98px) {
  .footer-container-wrapper {
    align-items: center;
  }

  .footer__wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 991.98px) {
  .footer-container-wrapper {
    align-items: flex-start;
  }
}

@media (max-width: 767.98px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrapper {
    padding-left: 0;
    align-items: center;
  }

  .footer__text {
    width: 100%;
  }

  .footer-email-container {
    align-items: center;
    margin-top: 24px;
  }

  .footer__wrapper {
    margin-bottom: 40px;

    .footer__text:last-child {
      margin-bottom: 0;
    }
  }

  .footer-container-wrapper {
    align-items: center;
    margin-top: 34px;
  }

  .footer {
    padding-top: 28px;
  }

  .footer-icon {
    margin-bottom: 10px;
  }
}