.fourteenth-slide {
  margin-top: 51px;
  padding-top: 31px;
  padding-bottom: 24px;
}

.fourteenth-slide__btn {
  margin-top: 36px;
  max-width: 182px;
  margin-bottom: 20px;
}

.fourteenth-slide {
  .block__form {
    margin-top: 70px;
  }
}