.main-header {
  background: $color-first;
  padding-top: 14px;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-menu__link {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: -10%;
    height: 4px;
    background: $color-third;
    transition: 0.3s;
    width: 120%;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;

    &:before {
      opacity: 1;
    }
  }
}

.main-header__menu {
  display: flex;
  align-items: center;
}

.main-menu__close {
  display: none;
}

// burger-style
.container-burger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.active .bar1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.active .bar2 {opacity: 0;}

.active .bar3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.main-header__burger {
  display: none;
  align-items: center;
}

.main-header__burger-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 8px;
}
//

@media (max-width: 991.98px) {
  .main-menu {
    position: fixed;
    left: -100%;
    top: 0;
    min-height: 100vh;
    height: 100%;
    width: 220px;
    background: #292F33;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    z-index: 100;

    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    padding: 23px 15px 0 15px;
    transition: 0.3s;

    .main-menu__link {
      margin-bottom: 15px;
    }

    .main-menu__link:before {
      bottom: -10px;
      left: 0;
      width: 110%;
    }

    .main-menu__close {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      border: none;

      &:hover {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .main-menu.active {
    left: 0;
    transition: 0.3s;
  }

  .main-header__burger {
    display: flex;
  }


}