.list-companies {
  margin-left: -15px;
  margin-right: -15px;

  .slick-prev {
    left: -50px;
    top: 45%;

    &:before {
      content: '';
      background: url("../img/list-companies__arrow-left.svg") no-repeat center;
      background-size: 100% auto;
      width: 42px;
      height: 42px;
      display: block;
      opacity: 1;
    }
  }

  .slick-next {
    top: 45%;

    &:before {
      content: '';
      background: url("../img/list-companies__arrow-right.svg") no-repeat center;
      background-size: 100% auto;
      width: 42px;
      height: 42px;
      display: block;
      opacity: 1;
    }
  }
}

.list-companies__item {
  background: #FFFFFF;
  border: 1px solid #FFE165;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: 195px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.list-companies__logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

//.list-companies__logo-1 {
//  background: url("../../img/logos/photo_2019-12-13_09-48-38__1.jpg") no-repeat center;
//  background-size: 100% auto;
//  width: 138px;
//  height: 102px;
//  display: block;
//}

.list-companies__logo-2 {
  height: 122px;
}

.list-companies__logo-3 {
  height: 152px;
}

.list-companies__logo-4 {
  height: 100px;
}

.list-companies__logo-5 {
  height: 75px;
}

.list-companies__logo-6 {
  height: 164px;
  width: 80%;
}

.list-companies__logo-7 {
  width: 90%;
  height: 90%;
}

.list-companies__logo-8 {
  width: 90%;
}

.list-companies__logo-9 {
  width: 90%;
}

.list-companies__logo-10 {
  width: 74%;
}

.list-companies__item-colorGrey {
  background: #F7F7F7;
}

@media (max-width: 1300px) {
  .list-companies {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1199.98px) {
  .list-companies__item {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 767.98px) {
  .list-companies .slick-prev:before,
  .list-companies .slick-next:before {
    width: 32px;
    height: 32px;
  }

  .list-companies .slick-prev {
    left: -35px;
  }

  .list-companies {
    margin-top: 8px !important;
  }
}

@media (max-width: 575.98px) {
  .list-companies {
    max-width: 80%;
  }
}
