body {
  font-family: "Open Sans", sans-serif;
}

.tel-phone_list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.tel-phone__item {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: $color-second;
  display: none;

  &:hover {
    text-decoration: none;
    color: $color-second;
  }

  &.active {
    display: block;
  }
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: linear-gradient(180deg, #F06D24 0%, #DB5C14 100%);
  box-shadow: 0 2px 3px rgba(31, 14, 5, 0.2);
}

h2.h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: $color-first;
  font-family: 'Oswald', sans-serif;
}

h3.h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  text-align: center;
  //color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}

.background-triangle {
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/background-triangle.svg") no-repeat left;
  background-size: cover;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.truck-img {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 53%;
  transform: translate(-50%,-50%);
  background: url("../img/truck-img.png") no-repeat center;
  background-size: 100% auto;
  width: 360px;
  height: 273px;
  z-index: 0;
}


.block__form {
  max-width: 403px;
  margin-left: auto;
  margin-right: 15px;
}

.block__form-btn {
  max-width: 191px;
  margin-left: auto;
  height: 50px;
  background: linear-gradient(180deg, #F06D24 0%, #DB5C14 100%);
  box-shadow: 0 2px 3px rgba(31, 14, 5, 0.2);
}

.repairer-img {
  background: url("../img/repairer-img.png") no-repeat center;
  background-size: 100% auto;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 53%;
  transform: translate(-50%,-50%);
  width: 440px;
  height: 100%;
}

.border-table {
  border: 2px solid #F5D759;
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.table-star-orange {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #F06D24;
}

.black-container {
  background: #292F33;
  position: relative;

  .h3 {
    color: #ffffff;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/black-bacground.svg") no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 1385px;
  }
}

.reviews-text {
  display: flex;
  flex-direction: column;

  .star-state {
    width: 21px;
    height: 21px;
  }
}

.reviews-text__p {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #C8C8C8;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
}

.reviews-text__span {
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}

.icon-flag {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 18px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.white-btn {
  background: linear-gradient(180deg, #FFFFFF 0%, #FBEDE6 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 50px;
  border: none;

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #F06D24;

  &:hover {
    color: #F06D24;
  }
}

.background-phone-image {
  background: url("../img/phone-image.png") no-repeat center;
  background-size: 100% auto;
  width: 578px;
  height: 589px;
  display: block;
  position: absolute;
  top: 70%;
  left: 58%;
  transform: translate(-50%,-50%);
}

.reviews-container {
  display: flex;
  flex-direction: column;

  .reviews-text:nth-child(1) {
    margin-top: 6px;
  }

  .reviews-text:nth-child(2) {
    margin-top: 70px;
  }
}

.ourAdvantages__slogan {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin-bottom: 36px;
}

.ourAdvantages__slogan-color {
  color: $color-second;
}

@media (min-width: 1200px) {
  .app .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199.98px) {
  .truck-img {
    left: 56%;
  }

  .repairer-img {
    left: 59%;
  }

  .background-phone-image {
    left: 67%;
  }

  .block__form {
    max-width: 320px;
  }
}

@media (max-width: 991.98px) {
  .tel-phone__item {
    font-size: 18px;
  }

  h2.h2 {
    font-size: 24px;
    line-height: normal;
  }

  .main-btn {
    height: 40px;
    font-size: 14px;
  }

  .background-triangle {
    background: url("../../img/background-triangle__mobil.svg") no-repeat top;
    background-size: 100% auto;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 235px;
  }

  h3.h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .reviews-text__p {
    font-size: 16px;
  }

  .reviews-text__span {
    font-size: 32px;
    line-height: 47px;
  }

  .reviews-container {
    flex-direction: row;

    .reviews-text {
      width: 50%;
      margin-bottom: 30px;

      .rating-block {
        display: none;
      }
    }

    .reviews-text:nth-child(1) {
      margin-top: 0;
    }

    .reviews-text:nth-child(2) {
      margin-top: 0;
    }
  }

  .ourAdvantages__slogan {
    font-size: 18px;
    line-height: 27px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;

    span:first-child {
      display: none;
    }
  }
}