.primary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 26px;

  img {
    max-width: 95px;
    margin-top: 40px;
    margin-bottom: 2px;
  }

  .card-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    text-align: center;
    color: #292F33;
    margin-bottom: 30px;
  }

  .card-text {

    margin-bottom: 23px;
    font-size: 14px;
    line-height: 19px;
    color: #292F33;
  }

  .main-btn {
    width: 100%;
    margin-top: auto;
    max-width: 177px;
    margin-left: auto;
    margin-right: auto;
    height: 46px;
  }
}

@media (max-width: 991.98px) {
  .primary-card {
    flex-direction: row;
    margin: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 9px;
    align-items: flex-start;

    .card-title {
      text-align: left;
      margin-bottom: 6px;
      font-size: 22px;
      line-height: normal;
    }

    .main-btn {
      margin-left: 0;
      height: 40px;
      max-width: 162px;
    }

    img {
      margin-top: 20px;
      max-width: 55px;
    }

    .card-text {
      margin-bottom: 14px;
    }

    .card-body {
      padding-right: 10px !important;
    }
  }
}