.select-header.country-list {
  background: #292F33;
  border: none;
  box-shadow: none;
  outline: none;
  color: $color-fourth;
}

.select-header {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $color-fourth;


  select {
    display: none;
  }
}

.select-selected {
  background-color: #292F33;

  &:after {
    position: absolute;
    content: "";
    top: 11px;
    right: 10px;
    background: url("../img/select-check.svg") no-repeat center;
    background-size: 100% auto;
    width: 14px;
    height: 14px;
    transition: 0.2s;
  }
}

.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
  transition: 0.2s;
}

.select-items div,.select-selected {
  color: $color-fourth;
  padding: 8px 16px;
  padding-right: 30px;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #292F33;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
  .select-header {
    font-size: 14px;
  }
}