.seventh-slide {
  background: #FDF7DD;
  padding-top: 57px;
  padding-bottom: 73px;

  .h2 {
    margin-bottom: 36px;
  }
}

@media (max-width: 991.98px)  {
  .seventh-slide {
    display: none;
  }
}