.third-slide {
  padding-top: 69px;
  padding-bottom: 25px;

  .h2 {
    margin-bottom: 24px;
  }
}

@media (max-width: 991.98px) {
  .third-slide {
    padding-top: 35px;
    padding-bottom: 14px;

    .row > div:nth-child(9),
    .row > div:nth-child(10),
    .row > div:nth-child(11),
    .row > div:nth-child(12) {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .third-slide .row {
    & > div:nth-child(odd) {
      padding-right: 8px;
    }

    & > div:nth-child(even) {
      padding-left: 8px;
    }
  }
}