@import "library.blocks/bootstrap/bootstrap";
@import "library.blocks/animate/animate";


@import "common.blocks/variabls";
@import "common.blocks/main";
@import "common.blocks/select";
@import "common.blocks/header";
@import "common.blocks/footer";
@import "common.blocks/primary-card";
@import "common.blocks/card-product";
@import "common.blocks/list-logos";
@import "common.blocks/orange-container";
@import "common.blocks/price-table";
@import "common.blocks/company-slider";
@import "common.blocks/review-block";
@import "common.blocks/rating-block";
@import "common.blocks/advantages-item";
@import "common.blocks/step-work";
@import "common.blocks/list-companies";
@import "common.blocks/comparison-table";
@import "common.blocks/modal";


@import "common.blocks/first-slide";
@import "common.blocks/second-slide";
@import "common.blocks/third-slide";
@import "common.blocks/fourth-slide";
@import "common.blocks/fifth-slide";
@import "common.blocks/sixth-slide";
@import "common.blocks/seventh-slide";
@import "common.blocks/eighth-slide";
@import "common.blocks/eleventh-slide";
@import "common.blocks/twelfth-slide";
@import "common.blocks/thirteenth-slide";
@import "common.blocks/fourteenth-slide";

